doctype html
html(lang="en")
  head
    title= pageTitle

  body
    h1 Map of Blackpool Fruit Trees
    #container.col
      p.
        Blackpool Residents Association (BRA) gave out a large group of fruit trees
        to be planted in the local area. This page maps their locations.
        
    script(src='js/main.js')
